/.metadata/

wiki
.DS_Store
Veritas/utils
Veritas/test/sql/tptp-sql
Veritas/test/stlc/tptp-stlc

benchmarking/**/target
benchmarking/.idea
Veritas/vampire
.recommenders
scala-backend/.cache-main
scala-backend/.cache-tests
target
benchmarking/.jenv-vars
Veritas/test/encodingcompstudy/consistency
Veritas/test/encodingcompstudy/test
*.xls
Veritas/test/encodingcompstudy/proofs
Veritas/test/encodingcompstudy/TestGoals/proofs
Veritas/test/encodingcompstudy/TestGoals/consistency
Veritas/test/encodingcompstudy/TestGoals/test
