/.metadata/

wiki
.DS_Store
Veritas/utils
Veritas/test/sql/tptp-sql
Veritas/test/stlc/tptp-stlc

benchmarking/**/target
benchmarking/.idea
Veritas/vampire
.recommenders
scala-backend/.cache-main
scala-backend/.cache-tests
target
benchmarking/.jenv-vars

*.xls
Veritas/test/encodingcompstudy/all
Veritas/test/encodingcompstudy/proofs
Veritas/test/encodingcompstudy/consistency
Veritas/test/encodingcompstudy/test
Veritas/test/encodingcompstudy/counterexample
Veritas/test/encodingcompstudy/synthesis
Veritas/test/encodingcompstudy/execution
Veritas/test/encodingcompstudy/proof

Veritas/test/encodingcompstudy/Other/all
Veritas/test/encodingcompstudy/Other/proofs
Veritas/test/encodingcompstudy/Other/consistency
Veritas/test/encodingcompstudy/Other/test
Veritas/test/encodingcompstudy/Other/counterexample
Veritas/test/encodingcompstudy/Other/synthesis
Veritas/test/encodingcompstudy/Other/execution
Veritas/test/encodingcompstudy/Other/proof

Veritas/test/encodingcompstudy/StudyGoals/all
Veritas/test/encodingcompstudy/StudyGoals/proofs
Veritas/test/encodingcompstudy/StudyGoals/consistency
Veritas/test/encodingcompstudy/StudyGoals/test
Veritas/test/encodingcompstudy/StudyGoals/counterexample
Veritas/test/encodingcompstudy/StudyGoals/synthesis
Veritas/test/encodingcompstudy/StudyGoals/execution
Veritas/test/encodingcompstudy/StudyGoals/proof

benchmarking/datasets/logs
*.tar.bz2
*.zip
*.7z
*.jar


benchmarking/datasets/layout/PerProverPerCategory
benchmarking/datasets/layout/PerProver
benchmarking/datasets/layout/PerCompStrat
benchmarking/datasets/layout/IndividualConfSuccessRatesPerCat
benchmarking/datasets/layout/DetailedOverviewPerCat
benchmarking/datasets/layout/30s
benchmarking/datasets/layout/120s
benchmarking/datasets/layout/10s
benchmarking/datasets/layout/60s
benchmarking/datasets/layout/.Rhistory
benchmarking/datasets/layout/.RData
Veritas/test/encodingcompstudy/AllVariantsWithFOOL
Veritas/test/encodingcompstudy/BasicFOOLencodings
Veritas/test/sql/proofs
