/.metadata/
target
wiki
.DS_Store
.idea
.recommenders
*.xls
*.7z
*.tar.bz2
*.jenv-vars

vampire 
vampire-3.0
vampire-4.0
vampire_with_fool

benchmarking/datasets/logs
benchmarking/datasets/layout/PerProverPerCategory
benchmarking/datasets/layout/PerProver
benchmarking/datasets/layout/PerCompStrat
benchmarking/datasets/layout/IndividualConfSuccessRatesPerCat
benchmarking/datasets/layout/DetailedOverviewPerCat
benchmarking/datasets/layout/30s
benchmarking/datasets/layout/120s
benchmarking/datasets/layout/10s
benchmarking/datasets/layout/60s
benchmarking/datasets/layout/.Rhistory
benchmarking/datasets/layout/.RData

benchmarking/datasets/HHLRJobScripts
benchmarking/datasets/HHLRInputFiles

/benchmarking/beagle.jar
/benchmarking/princess-all-casc.jar
/benchmarking/princess-all-standard.jar

/Veritas/Veritas.jar


VeritasSpoofax/utils
VeritasSpoofax/test/sql/tptp-sql
VeritasSpoofax/test/stlc/tptp-stlc


VeritasSpoofax/test/encodingcompstudy/all
VeritasSpoofax/test/encodingcompstudy/proofs
VeritasSpoofax/test/encodingcompstudy/consistency
VeritasSpoofax/test/encodingcompstudy/test
VeritasSpoofax/test/encodingcompstudy/counterexample
VeritasSpoofax/test/encodingcompstudy/synthesis
VeritasSpoofax/test/encodingcompstudy/execution
VeritasSpoofax/test/encodingcompstudy/proof

VeritasSpoofax/test/encodingcompstudy/Other/all
VeritasSpoofax/test/encodingcompstudy/Other/proofs
VeritasSpoofax/test/encodingcompstudy/Other/consistency
VeritasSpoofax/test/encodingcompstudy/Other/test
VeritasSpoofax/test/encodingcompstudy/Other/counterexample
VeritasSpoofax/test/encodingcompstudy/Other/synthesis
VeritasSpoofax/test/encodingcompstudy/Other/execution
VeritasSpoofax/test/encodingcompstudy/Other/proof

VeritasSpoofax/test/encodingcompstudy/StudyGoals/all
VeritasSpoofax/test/encodingcompstudy/StudyGoals/proofs
VeritasSpoofax/test/encodingcompstudy/StudyGoals/consistency
VeritasSpoofax/test/encodingcompstudy/StudyGoals/test
VeritasSpoofax/test/encodingcompstudy/StudyGoals/counterexample
VeritasSpoofax/test/encodingcompstudy/StudyGoals/synthesis
VeritasSpoofax/test/encodingcompstudy/StudyGoals/execution
VeritasSpoofax/test/encodingcompstudy/StudyGoals/proof


VeritasSpoofax/test/encodingcompstudy/AllVariantsWithFOOL
VeritasSpoofax/test/encodingcompstudy/BasicFOOLencodings
VeritasSpoofax/test/sql/proofs
VeritasSpoofax/test/stlc/callbyname/proofs/
VeritasSpoofax/test/stlc/callbyvalue/proofs/
VeritasSpoofax/test/stlc/proofs/




/VeritasSpoofax/test/encodingcompstudyQL/proofs
/benchmarking/datasets/layout/AxiomSelection
