bin,
.cache
include/SimplyTypedLambdaCalculus.def
include/SimplyTypedLambdaCalculus-parenthesize.str
include/SimplyTypedLambdaCalculus-Permissive.def
include/SimplyTypedLambdaCalculus.generated.pp.af
include/SimplyTypedLambdaCalculus.packed.esv
include/SimplyTypedLambdaCalculus.pp.af
include/SimplyTypedLambdaCalculus.rtg
include/SimplyTypedLambdaCalculus.str
include/SimplyTypedLambdaCalculus.tbl
include/SimplyTypedLambdaCalculus.rtree
include/SimplyTypedLambdaCalculus.ctree
include/SimplyTypedLambdaCalculus.ctree.dep
include/SimplyTypedLambdaCalculus.jar
editor/java/trans
editor/SimplyTypedLambdaCalculus-*.generated.esv
syntax/SimplyTypedLambdaCalculus*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str