bin
.cache
include/
editor/java/trans
editor/Veritas-*.generated.esv
syntax/Veritas.generated.pp
.settings/org.eclipse.jdt.core.prefs
editor/*.generated.esv
lib/*.generated.str
lib-refactoring/*.generated.str
*.aterm
*.hash
*.info
*.proof
*.smt2
.DS_Store
target/
src-gen/