<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="stl"
            description="Veritas"
            language="Veritas"
            derivedFrom="DynamicRoot"
            validator="Veritas.VeritasValidator"
            validatorClass="Veritas.VeritasValidator"
      ></language>
   </extension>
   <extension
         id="SimplyTypedLambdaCalculus.parser"
         name="Veritas Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="SimplyTypedLambdaCalculus.VeritasParseController"
            language="Veritas">
      </parser>
   </extension>    
</plugin>
